repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --manifest-path back-end/Cargo.toml
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-commit]
